body {
  background-color: #FFFFE0; /* warna kuning cerah */
  font-family: Arial, sans-serif;
  color: #191970;
}

.kartu-profil {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFFDD0; /* warna cream */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.kartu-profil a {
  display: inline-block;
  margin-top: 5px;
  color: #191970;
  text-decoration: none;
  font-weight: bold;
}

.kartu-profil button {
  background-color: #191970;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.kartu-profil button:hover {
  background-color: #000080;
}
